@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: rgb(39, 39, 39);
  display: flex;
}

/* val id */
#val_kista {
  display: none;
}

#val_taurus {
  display: none;
}

#val_vapen {
  display: none;
}

#lvl_poäng {
  display: none;
}
/* val id */

/* val klasser */
.val {
  position: absolute;
  align-self: center;
  margin-left: 27vw;
  width: 20vw;
  height: 15vw;
  background-color: black;
  border: solid white;
  color: white;
}

/* val klasser */

/* valknapp */
.kistaknapp {
  font-size: 1.5vw;
}

.öppna {
  margin-left: 2.5vw;
}

.lämna {
  margin-left: 2vw;
}
/* valknapp */

/* text */
.insttext {
  color: white;
  text-align: center;
  margin: 1vw;
}
/* text */

/* inställning */
#inst {
  width: 100vw;
  height: 100vw;
  background-color: black;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}

.inställning {
  width: 2vw;
}

.inställning2 {
  width: 4vw;
}

.inställningknapp {
  background-color: white;
  border: none;
  margin-left: 22vw;
  margin-top: 0.5vw;
  width: 3vw;
}

.tillbaka {
  background-color: black;
  margin-left: 90vw;
}

.instknapp {
  color: black;
  margin-left: 47vw;
  margin-top: 1vw;
}
/* inställning */

/* slut */
#avslutning {
  display: none;
}

#vinst {
  display: none;
}

.slut {
  background-color: black;
  text-align: center;
  height: 100vw;
  width: 100vw;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
}

.gameover {
  color: white;
  font-size: 5vw;
}

/* slut */

.start {
  font-size: 5vw;
  color: white;
  background-color: black;
  border: solid white;
  margin-top: 5vw;
}

/* startsidor */
#startsida {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vw;
  text-align: center;
}

.förklaring {
  font-size: 5vw;
  color: white;
}
#karaktärsval {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.förklaring2 {
  color: white;
  font-size: 5vw;
}

.karaktärer {
  display: flex;
  width: 100%;
  height: 100%;
}

.karaktär {
  border: solid white;
  margin: 1vw;
}

.bild {
  width: 29vw;
  height: auto;
}

.stat {
  width: 40%;
}

.välj {
  color: white;
  background-color: black;
  border: solid white;
  margin-left: 1vw;
  font-size: 1.5vw;
}
/* startsidor */

/* canvas */
canvas {
  border: 2px solid black;
  background-image: url(bilder/pixil-frame-1.png);
  background-size: cover;
  height: 43.5vw;
  width: 75vw;
  margin-right: 0.5vw;
}
/* canvas */

/* menu */

.menu {
  width: 25vw;
  height: 43vw;
  border: 5px solid rgb(99, 63, 63);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.statmenu {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  top: 0;
}

.rubrik {
  width: 100%;
  margin-top: 1.3vw;
}

.totstat {
  display: flex;
}

.avatar {
  height: 80px;
  border-bottom-right-radius: 12px;
  border: 3px solid rgb(42, 33, 33);
}

.statbox {
  height: 80px;
  width: 234px;
  background-color: aquamarine;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  /* font-family: "Press Start 2P", cursive; */
}

.stats {
  color: white;
  font-size: 2vw;
  margin-left: 1vw;
}

#meddelande {
  width: 25vw;
  font-size: 1vw;
  height: 10vw;
  top: 33vw;
}
/* menu */

/* hover */
.välj:hover {
  scale: 1.1;
  transition: 0.5s;
}

.start:hover {
  scale: 1.1;
  transition: 0.5s;
}

.inställningknapp:hover {
  scale: 1.1;
  transition: 2s;
}
/* hover */
