@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: rgb(39, 39, 39);
  display: flex;
}

h3 {
  width: 100%;
}

.avatar {
  height: 100px;
  border-bottom-right-radius: 12px;
  border: 3px solid rgb(42, 33, 33);
  margin-top: -120px;
}

.statbox {
  margin-top: -120px;
  height: 100px;
  width: calc(100% - 106px);
  background-color: aquamarine;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  /* font-family: "Press Start 2P", cursive; */
}

.stat {
  width: 40%;
}

canvas {
  border: 2px solid black;
  background-image: url(pixil-frame-1.png);
  background-size: cover;
  height: 43.5vw;
  width: 75vw;
  margin-right: 0.5vw;
}

.menu {
  width: 25vw;
  height: 43vw;
  border: 5px solid rgb(99, 63, 63);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

#startsida {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vw;
}

.förklaring {
  font-size: 5vw;
  color: white;
}

.start {
  font-size: 5vw;
  color: white;
  background-color: black;
  border: solid white;
  margin-left: 40vw;
  margin-top: 5vw;
}

#karaktärsval {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
}

.förklaring2 {
  color: white;
  font-size: 5vw;
}

.karaktärer {
  display: flex;
  width: 100%;
  height: 100%;
}

.assasin {
  border: solid white;
  margin: 1vw;
}

.knight {
  border: solid white;
  margin: 1vw;
}

.barb {
  border: solid white;
  margin: 1vw;
}

.bild {
  width: 29vw;
  height: auto;
}

.stats {
  color: white;
  font-size: 2vw;
  margin-left: 1vw;
}

.välj {
  color: white;
  background-color: black;
  border: solid white;
  margin-left: 1vw;
  font-size: 1.5vw;
}

.välj:hover {
  scale: 1.1;
  transition: 0.5s;
}

.start:hover {
  scale: 1.1;
  transition: 0.5s;
}

#meddelande {
  overflow: scroll;
  width: 25vw;
  font-size: 1vw;
  height: 10vw;
}
